.slist {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .slist li {
    width: 400px;
    /* height: 64px; */
    margin: 10px;
    padding: 15px;
    border: 1px solid #dfdfdf;
    background: #f5f5f5;
    box-shadow: rgba(0,0,0,0.2) 0px 8px 16px 0px;
  }
  
  /* (B) DRAG-AND-DROP HINT */
  .slist li.hint {
    border: 1px solid #62ebf0;
    background: #feffb4;
  }
  .slist li.active {
    box-shadow: rgba(138, 138, 138, 0.3) 0px 1px 2px 0px;
    /* border: 1px solid #ffa5a5; */
    transition: ease-in-out;
    background: #81f140;
  }

  .slist li:hover{
    transform: scale(1.02);
    transition: ease-in-out;
  }