body{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.container{
  background-image: url('images/bg-desktop-light.jpg');
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-bar{
  display: flex;
  width: 541px;
  height: 48px;
  margin: 70px 0px 40px 0px;
  align-items: center;
  color: white;
}

.title-bar img{
  width: 25.113px;
  height: 26px;
  margin-left: auto;
}

.input-field{
  display: flex;
  width: 540px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.50);
  margin-bottom: 24px;
}


#addTodo{
  height: 24px;
  width: 60%;
  margin:20px 0px;
  border: none;
  font-size: 18px;
}

.circle{
  background-color: #62ebf0;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  border: 1px solid #E3E4F1;
  background: #FFF;
  margin: 20px 24px;
}

.list-form{
  overflow-y: scroll;
  width: 540px;
  /* max-height: 439px; */
  max-height: 384px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.50);
}


.list-form::-webkit-scrollbar {
  display: none;
}

.todo-item{
    height: 64px;
    display: flex;
    text-align: center;
    align-items: center;
    border: 0.1px solid;
    /* box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.50); */
    border-radius: 5px;
}

.todo-item:hover{
    cursor: pointer;
}

.delete-task{
    margin-left: auto;
}



.task-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .task-list li {
    padding: 21px 5px;
    border: 1px solid #dfdfdf;
    background: #f5f5f5;
    box-shadow: rgba(0,0,0,0.2) 0px 8px 16px 0px;
  }
  

  .task-list li.hint {
    border: 1px solid #62ebf0;
    background: #feffb4;
  }
  .task-list li.active {
    box-shadow: rgb(99, 99, 99) 0px 1px 2px 0px;
    /* border: 1px solid #ffa5a5; */
    transition: ease-in-out;
    background: #81f140;
  }

  .task-list li:hover{
    background: #747474;
    transform: scale(1.02);
    transition: ease-in-out;
    cursor: pointer;
  }