
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.note{
  color: #9495A5;
  text-align: center;
  font-family: Josefin Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.194px;
  margin: auto 50px;
}

.container{
  /* opacity: 0.25; */
  /* background: url('images/bg-desktop-light.jpg'), lightgray 0px 0px / 100% 100% no-repeat; */
  background-image: url('images/bg-desktop-light.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: transparent;
}

.title-bar{
  display: flex;
  width: 541px;
  height: 48px;
  margin: 70px 0px 40px 0px;
  align-items: center;
  color: white;
}

.title-bar svg{
  width: 25.113px;
  height: 26px;
  margin-left: auto;
  cursor: pointer;
}

.show{
  display: block;
}

.hide{
  display: none;
}

.input-field{
  display: flex;
  width: 540px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 5px;
  margin-bottom: 24px;
}

.input-field-litemode{
  background: #FFF;
}

.input-field-darkmode{
  background: #25273D;
  box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.50);
}

.light-mode{
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.50);
}

#addTodo{
  height: 24px;
  width: 85%;
  margin:20px 0px;
  border: none;
  font-size: 18px;
  background-color: transparent;
}

.add-todo-litemode{
  color: #494C6B;
}

.add-todo-darkmode{
  color: #C8CBE7;
}

#addTodo:focus{
  outline: none;
}

.circle{
  width: 24px;
  height: 24px;
  border-radius: 24px;
  border: 1px solid #E3E4F1;
  margin: 20px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-hover{
  width: 24px;
  height: 24px;
  border-radius: 24px;
  margin: 20px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(white, white) padding-box, linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
  border-radius: 50%;
  border: 1px solid transparent;
}

.list-form{
  overflow-y: scroll;
  width: 540px;
  max-height: 384px;
  flex-shrink: 0;
  border-radius: 5px;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.50);

}

.list-form-litemode{
  background: #FFF;
}

.list-form::-webkit-scrollbar {
  display: none;
}

.todo-item{
    height: 64px;
    display: flex;
    text-align: center;
    align-items: center;
    border: 0.1px solid;
    font-size: 18px;
    /*  */
    /* border-radius: 5px; */
}

.todo-item:hover{
    cursor: pointer;
}

.delete-task{
    margin-left: auto;
}



.task-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .task-list li {
    display: flex;
    align-items: center;
    padding: 0px 24px 0px 0px;
    
  }
  .task-list-litemode{
    border-top-width: 1px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-top-color: #E3E4F1;
    border-right-color: #E3E4F1;
    border-bottom-color: #E3E4F1;
    border-left-color: #E3E4F1;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
  }

  .task-list-darkmode{
    /* border: 1px solid #393A4B; */
    border-top-width: 1px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-top-color: #393A4B;
    border-right-color: #393A4B;
    border-bottom-color: #393A4B;
    border-left-color: #393A4B;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
  }

  .task-list-dark{
    border: 1px solid #393A4B;
  }

  .text-completed{
    color: #6c757d;
    text-decoration: line-through;
  }

  .item-checkable{
    background: linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%))
  }
  
  .remove{
    display: none;
  }

  .task-list li.hint {
    background: #919191;
  }
  .task-list li.active {
    transition: ease-in-out;
    background: #c4c4c4;
  }

  .task-list li:hover{
    /* background: #d8d8d8; */
    transform: scale(1.02);
    transition: ease-in-out;
    cursor: pointer;

  }

  li:hover .remove{
    margin-left: auto;
    display: block;
  }

  .sorting-container{
    font-size: 15px;
    font-weight: normal;
    display: flex;
    align-items: center;
    width: 540px;
    height: 55px;
    flex-shrink: 0;
    /* border-radius: 0px 0px 5px 5px; */
    
    color: #9495A5;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.194px;
  }

  .item-count{
    margin-left: 24px;
    cursor: pointer;
  }

  .unsorted{
    margin-left: 96px;
    cursor: pointer;
  }

  .sort-active{
    margin-left: 19px;
    cursor: pointer;
  }

  .sort-completed{
    margin-left: 19px;
    cursor: pointer;
  }

  .clear-completed{
    margin-left: auto;
    margin-right: 24px;
    cursor: pointer;
  }

  .active{
    color: #3A7CFD;
  }

  #darkMode:hover{
    cursor: pointer;
  }

  .list-form-darkmode{
    background: #25273D;
    color: #C8CBE7;
    box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.50);
    letter-spacing: -0.25px;
    transition: background 1s;
  }
  .body-dark-mode{
    background: #171823;
    transition: background 1s;
  }
  .dark-mode-bs{
    box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.50);
  }
.sorting-container-mobile{
  display: none;
}

  @media only screen and (max-width: 375px) {
    body{
      font-size: 12px;
    }
    .input-field{
      width: 327px;
      height: 48px;
      margin-bottom: 16px;
      align-items: center;
    }

    .circle{
      width: 20px;
      height: 20px;
      border-radius: 20px;
      margin: 16px 20px;
    }

    .container{
      background-size: 100%  185px;
    }
    .list-form {
      width: 327px;
    }
    
    .title-bar{
      width: 327px;
      height: 20px;;
      margin: 40px 0px 40px 0px;
    }

    #addTodo{
      font-size: 12px;
      width: 85%;
      border: none;
      background-color: transparent;
    }

    .todo-item{
      height: 48px;
      /* font-size: 18px; */
    }

    .task-list li {
      padding: 0px;
      
    }

    .sorting-container {
      display: flex;
      width: 327px;
      justify-content: center;
    }

    /* .container{
      background-image: url('images/bg-desktop-light.jpg');
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100vh;
      background-color: #FAFAFA;;
    } */

    #sortCompleted{
      display: none;
    }
    
    #sortActive{
      display: none;
    }

    #unsorted{
      display: none;
    }

    .sorting-container-mobile{
      display: flex;
      align-items: center;
      margin-top: 16px;
      width: 327px;
      height: 48px;
      border-radius: 5px;
      background: #FFF;
      /* box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.50); */

    }

    .remove{
      margin-left: auto;
      display: block;
      margin-right: 20px;
    }
    
  }