
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.container{
  background-image: url('images/bg-desktop-light.jpg');
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-bar{
  display: flex;
  width: 541px;
  height: 48px;
  margin: 70px 0px 40px 0px;
  align-items: center;
  color: white;
}

.title-bar svg{
  width: 25.113px;
  height: 26px;
  margin-left: auto;
}

.input-field{
  display: flex;
  width: 540px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 5px;
  margin-bottom: 24px;
}

.input-field-litemode{
  background: #FFF;
}

.input-field-darkmode{
  background: #25273D;
  box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.50);
}

.light-mode{
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.50);
}

#addTodo{
  height: 24px;
  width: 85%;
  margin:20px 0px;
  border: none;
  font-size: 18px;
  background-color: transparent;
}

.add-todo-litemode{
  color: #494C6B;
}

.add-todo-darkmode{
  color: #C8CBE7;
}

#addTodo:focus{
  outline: none;
}

.circle{
  width: 24px;
  height: 24px;
  border-radius: 24px;
  border: 1px solid #E3E4F1;
  margin: 20px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-form{
  overflow-y: scroll;
  width: 540px;
  /* max-height: 439px; */
  max-height: 384px;
  flex-shrink: 0;
  border-radius: 5px;
}

.list-form-litemode{
  background: #FFF;
}

.list-form::-webkit-scrollbar {
  display: none;
}

.todo-item{
    height: 64px;
    display: flex;
    text-align: center;
    align-items: center;
    border: 0.1px solid;
    font-size: 18px;
    /*  */
    /* border-radius: 5px; */
}

.todo-item:hover{
    cursor: pointer;
}

.delete-task{
    margin-left: auto;
}



.task-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .task-list li {
    display: flex;
    align-items: center;
    padding: 0px 24px 0px 0px;
    
  }
  .task-list-litemode{
    border-top-width: 1px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-top-color: #E3E4F1;
    border-right-color: #E3E4F1;
    border-bottom-color: #E3E4F1;
    border-left-color: #E3E4F1;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
  }

  .task-list-darkmode{
    /* border: 1px solid #393A4B; */
    border-top-width: 1px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-top-color: #393A4B;
    border-right-color: #393A4B;
    border-bottom-color: #393A4B;
    border-left-color: #393A4B;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
  }

  .task-list-dark{
    border: 1px solid #393A4B;
  }

  .text-completed{
    color: #6c757d;
    text-decoration: line-through;
  }

  .item-checkable{
    background: linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%))
  }
  
  .remove{
    display: none;
  }

  .task-list li.hint {
    background: #919191;
  }
  .task-list li.active {
    transition: ease-in-out;
    background: #c4c4c4;
  }

  .task-list li:hover{
    /* background: #d8d8d8; */
    transform: scale(1.02);
    transition: ease-in-out;
    cursor: pointer;

  }

  li:hover .remove{
    margin-left: auto;
    display: block;
  }

  .sorting-container{
    font-size: 15px;
    font-weight: normal;
    display: flex;
    align-items: center;
    width: 540px;
    height: 55px;
    flex-shrink: 0;
    /* border-radius: 0px 0px 5px 5px; */
    
    color: #9495A5;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.194px;
  }

  .item-count{
    margin-left: 24px;
    cursor: pointer;
  }

  .unsorted{
    margin-left: 96px;
    cursor: pointer;
  }

  .sort-active{
    margin-left: 19px;
    cursor: pointer;
  }

  .sort-completed{
    margin-left: 19px;
    cursor: pointer;
  }

  .clear-completed{
    margin-left: auto;
    margin-right: 24px;
    cursor: pointer;
  }

  .active{
    color: #3A7CFD;
  }

  #darkMode:hover{
    cursor: pointer;
  }

  .list-form-darkmode{
    background: #25273D;
    color: #C8CBE7;
    letter-spacing: -0.25px;
  }
  .body-dark-mode{
    background: #171823;
  }
  .dark-mode-bs{
    box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.50);
  }